@import 'plug/rem';
@import 'plug/variables';
@import 'plug/media-queries';
@import 'plug/mixins';
@import 'plug/popup';
@import '../../node_modules/rfs/scss/rfs';

/* Global styles start*/
* {
  outline: none;
}

html,
body {
  height: 100%;
  background-color: #777;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  &[type="button"], &[type="submit"] {
    &:focus {
      outline: none;
    }
  }
}

a {
  color: inherit;
}

input[type='number'] {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input, textarea {
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}

svg {
  width: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: inherit;
  pointer-events: none;
}

.squeeze-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.squeeze-content {
  flex: 1 0 auto;
}

.squeeze-footer {
  flex: 0 0 auto;
}

::selection {
  background: rgba(#008ca9, .4);
  color: #fff;
}

/* Preloader */
.preloader {
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  bottom: 0;
  background: #000;
  z-index: 100000;
  &-item {
    &-gif {
      height: 250px;
      width: 250px;
      background-image: url('../img/preloader.gif');
      @include background();
      @include mx-auto;
    }
    &-text {
      text-align: center;
      p {
        font-size: 18px;
        color: #fff;
        line-height: 1em;
        text-shadow: 1px 1px 10px rgba(#fff, .7);
      }
    }
  }
}

/*END Preloader */
/* Global styles end*/

