@import 'plug/rem';
@import 'plug/variables';
@import 'plug/media-queries';
@import 'plug/mixins';
@import 'plug/popup';
@import '../../node_modules/rfs/scss/rfs';

@mixin button($padding: 1em 2.5em) {
  font-family: $font-family-ral;
  color: #ffffff;
  cursor: pointer;
  transition: all .2s linear;
  font-size: rem(14px);
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding: $padding;
  border: 1px solid #998675;
  border-bottom: 3px solid darken(#998675, 20%);
  border-radius: 3px;
  background-color: #998675;
  @include mediaToUp($lg) {
    &:active {
      background-color: transparent;
    }
  }
  @include mediaToUp($lg) {
    &:hover {
      background-color: transparent;
    }
  }
}
////////////////////////////////////////////////////////////
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  transition: all .4s linear;
  padding-top: 40px;
  &.fixed {
    background-color: rgba(#45353B, .7);
    transform: translateY(-25px);
    padding-bottom: 15px;
    .logo {
      max-width: 160px;
    }
  }
  .logo {
    max-width: 180px;
    transition: max-width .4s linear;
    img {
      max-width: 100%;
    }
  }
  //////////////
  .navigation {
    display: flex;
    width: 100%;
    padding-top: 20px;
    nav {
      flex-grow: 3;
      ul {
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        li {
          cursor: pointer;
          flex-grow: 1;
          text-align: center;
          a {
            position: relative;
            display: block;
            font-family: $font-family-base;
            color: #ffffff;
            transition: all .2s linear;
            font-size: inherit;
            font-weight: 300;
            padding: 5px 0;
            &::after,
            &::before {
              position: absolute;
              content: "";
              background-color: #c7b299;
              transition: width .3s linear;
              height: 2px;
              width: 0;
            }
            &::after {
              right: 0;
              bottom: 100%;
            }
            &::before {
              left: 0;
              top: 100%;
            }
            &:hover {
              color: #c7b299;
              &::after,
              &::before {
                width: 100%;
              }
            }
            &.selected {
              color: #c7b299;
              &::after,
              &::before {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .search {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
      div {
        cursor: pointer;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
      &-cart,
      &-icon {
        height: 25px;
        width: 25px;
        transition: opacity .2s linear;
        @include mediaToDown($lg) {
          &:active {
            opacity: 0.6;
          }
        }
        @include mediaToUp($lg) {
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}

/* Верхний слайдер */
.top-slider {
  position: relative;
  figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
    &::after {
      @include pseudo();
      background-color: rgba(17, 17, 17, 0.7);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    figcaption {
      position: relative;
      z-index: 1;
      color: #fff;
      text-align: center;
      max-width: 589px;
      opacity: 0;
      animation: fadeText 1.6s linear forwards;
      animation-delay: 1s;
      h3,
      h1 {
        font-family: $font-family-ral;
        font-style: normal;
        line-height: 1em;
        margin-bottom: rem(15px);
      }
      h3 {
        @include rfs(36);
        color: inherit;
        font-weight: 400;
      }
      h1 {
        @include rfs(52);
        color: inherit;
        font-weight: 600;
      }
      p {
        color: inherit;
        font-family: $font-family-base;
        font-size: rem(16px);
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: rem(52px);
      }
      @keyframes fadeText {
        0%{opacity: 0}
        100%{opacity: 1}
      }
    }
    button {
      @include button;
    }
    @keyframes textShow {
      0%{opacity: 0;}
      100%{opacity: 1;}
    }
  }
  .owl-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none;
    .owl-next,
    .owl-prev {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      transition: opacity .2s linear;
      pointer-events: all;
      opacity: 0.5;
      width: rem(40px);
      height: rem(73px);
      &:hover {
        background-color: transparent;
        opacity: 1;
      }
    }
    .owl-next {
      margin-right: 150px;
      background-image: url('../img/top_slider/right-arrow.svg');
    }
    .owl-prev {
      background-image: url('../img/top_slider/left-arrow.svg');
      margin-left: 150px;
    }
  }
  .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    bottom: rem(40px);
    .owl-dot {
      span {
        background-color: #869791;
      }
      &.active {
        span {
          border: 2px solid #d3c1ad;
          background-color: transparent;
        }
      }
    }
  }
}
/*END Верхний слайдер */
////////////////////////////////////////////////////////////
/* Услуги */
.services {
  margin-top: rem(60px);
  margin-bottom: rem(80px);
  background-color: #fff;
  figure {
    position: relative;
    height: 100%;
    padding-bottom: rem(30px);
    cursor: pointer;
    &::after {
      @include pseudo();
      top: 100%;
      left: 50%;
      height: 3px;
      background-color: #f1eee9;
      width: 25%;
      transition: background-color .2s linear;
      transform: translateX(-50%);
    }
    &:hover {
      .services-icon {
        svg {
          fill: #c7b299;
        }
      }
      h4 {
        color: #c7b299;
      }
      &::after {
        background-color: #c7b299;
      }
    }
    .services-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: rem(90px);
      width: 100%;
      svg {
        flex: 0 0 auto;
        max-width: 20%;
        fill: #555;
        transition: fill .2s linear;
      }
    }
    figcaption {
      text-align: center;
      font-style: normal;
      flex: 0 0 auto;
      h4 {
        font-family: $font-family-ral;
        color: #555555;
        transition: color .2s linear;
        @include rfs(22);
        font-weight: 700;
        font-style: inherit;
        line-height: 1em;
        margin-bottom: 0.9em;
      }
      p {
        font-family: $font-family-base;
        color: #8c8c8c;
        font-size: 14px;
        font-style: inherit;
        font-weight: 300;
        line-height: 1.5em;
      }
    }
  }
}
/*END Услуги */
////////////////////////////////////////////////////////////
/* Waxom is Realization of your Ideas */
.ideas {
  background-color: #fbfaf8;
  font-style: normal;
  text-align: center;
  padding-top: rem(85px);
  &__heading {
    font-family: $font-family-ral;
    @include rfs(30);
    margin-bottom: 0.8em;
    h2 {
      color: #555555;
      font-size: inherit;
      line-height: 1em;
      font-weight: 700;
      font-style: inherit;
    }
  }
  &__description {
    font-family: $font-family-base;
    font-size: rem(16px);
    margin-bottom: 2.5em;
    max-width: 757px;
    @include mx-auto;
    p {
      color: #8c8c8c;
      font-size: inherit;
      font-style: inherit;
      font-weight: 300;
      line-height: 1.75em;
    }
  }
  figure {
    img {
      max-width: 100%;
    }
  }
  ////////////////////
  &-theme {
    text-align: left;
    font-style: normal;
    padding-top: rem(50px);
    padding-bottom: rem(50px);
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    h3 {
      font-family: $font-family-ral;
      color: #ffffff;
      @include rfs(28);
      font-weight: 400;
      font-style: inherit;
      line-height: 1em;
      margin-bottom: 0.3em;
      span {
        color: #c7b299;
      }
    }
    p {
      font-family: $font-family-base;
      color: #615855;
      font-size: rem(18px);
      font-style: inherit;
      font-weight: 300;
      line-height: 1em;
    }
    button {
      @include button(0.9em 2em);
    }
  }
}
/*END Waxom is Realization of your Ideas */
////////////////////////////////////////////////////////////
/* Our Latest Projects */
.projects {
  padding-top: rem(80px);
  padding-bottom: rem(80px);
  font-style: normal;
  &__description {
    text-align: center;
    margin-bottom: rem(40px);
    max-width: 780px;
    @include mx-auto;
    h2 {
      color: #555555;
      font-family: $font-family-ral;
      @include rfs(30);
      font-weight: 700;
      font-style: inherit;
      line-height: 1em;
      margin-bottom: 0.8em;
    }
    p {
      font-family: $font-family-base;
      color: #8c8c8c;
      font-size: rem(16px);
      font-weight: 300;
      font-style: inherit;
      line-height: 1.75em;
    }
  }
  nav {
    max-width: 605px;
    @include mx-auto;
    margin-bottom: rem(40px);
    ul {
      font-family: $font-size-base;
      display: flex;
      li {
        flex-grow: 1;
        color: #8c8c8c;
        cursor: pointer;
        text-align: center;
        margin-right: rem(10px);
        border-radius: 3px;
        border: 1px solid #ebebeb;
        font-size: 14px;
        transition: all .2s linear;
        font-style: inherit;
        font-weight: 300;
        line-height: 1em;
        padding: 0.7em 0;
        &:last-child {
          margin-right: 0;
        }
        @include mediaToDown($lg) {
          &:active {
            color: #ffffff;
            background-color: #998675;
          }
        }
        @include mediaToUp($lg) {
          &:hover {
            color: #ffffff;
            background-color: #998675;
          }
        }
        &.selected {
          color: #ffffff;
          background-color: #998675;
        }
      }
    }
  }
  &-items {
    figure {
      .projects-items__img {
        position: relative;
        @include responsive-ratio(1, 0.62, true);
        overflow: hidden;
        img[alt="Image"] {
          display: block;
          width: 100%;
          transition: transform 8s linear;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        &-popup {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(17, 17, 17, 0.7);
          opacity: 0;
          transition: all .5s linear;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          &-icons {
            display: flex;
            justify-content: center;
            a {
              display: block;
              transition: all .1s linear;
              transition-delay: .2s;
              opacity: 0;
              max-width: 100%;
              &:first-child {
                transform: translateX(-150px);
                margin-right: rem(30px);
              }
              &:nth-child(2) {
                transform: translateX(150px);
              }
            }
          }
        }
      }
      figcaption {
        position: relative;
        transition: background-color .3s linear;
        background-color: #fbfaf8;
        padding: rem(30px);
        &::before{
          @include pseudo;
          bottom: 100%;
          left: rem(20px);
          transition: border-bottom-color .3s linear;
          border-bottom: 10px solid #fbfaf8;
          border-right: 15px solid transparent;
          border-left: 15px solid transparent;
        }
        h4, p {
          transition: color .2s linear;
        }
        h4 {
          font-family: $font-family-ral;
          color: #c7b299;
          @include rfs(20);
          font-style: inherit;
          line-height: 1em;
          font-weight: 500;
          margin-bottom: 0.5em;
        }
        p {
          font-family: $font-size-base;
          color: #d1d1d1;
          font-size: 14px;
          font-weight: 300;
          font-style: inherit;
          line-height: 1.4em;
        }
      }
      &:hover {
        figcaption {
          background-color: #362f2d;
          h4 {
            color: #ffffff;
          }
          p {
            color: #c7b299;
          }
          &::before {
            border-bottom-color: #362f2d;
          }
        }
        .projects-items__img-popup {
          opacity: 1;
          &-icons {
            a {
              opacity: 1;
              &:first-child {
                transform: translateX(0);
              }
              &:nth-child(2) {
                transform: translateX(0);
              }
            }
          }
        }
        img[alt="Image"] {
          transform: scale(1.5);
        }
      }
    }
    button {
      display: block;
      @include button;
      @include mx-auto;
      margin-top: rem(20px);
      &:hover {
        color: #998675;
      }
    }
  }
}
#mix-row {
  .mix {
    display: none;
  }
}
/*END Our Latest Projects */
///////////////////////////////////////////////////////////
.presentation {
  &-video {
    position: relative;
    height: 705px;
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
    .video-bg {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      @include background;
      &::after {
        @include pseudo;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(17, 17, 17, 0.5);
      }
      &-item {
        position: relative;
        z-index: 1;
        text-align: center;
        max-width: 552px;
        &-button {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background-color: rgba(#000000, .3);
          cursor: pointer;
          transition: all .3s linear;
          @include mx-auto;
          &:hover {
            box-shadow: 0 0 30px 0 rgba(#000, .3);
            img {
              &:nth-child(2) {
                opacity: 0.7;
              }
            }
          }
          img {
            max-width: 80%;
            transition: all .3s linear;
            &:nth-child(1) {
              animation: playRotate 7s infinite linear;
              @keyframes playRotate {
                0%{transform: rotate(0);}
                100%{transform: rotate(360deg);}
              }
            }
            &:nth-child(2) {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              &:active {
                opacity: 1;
              }
            }
          }
        }
        figcaption {
          color: #ffffff;
          font-style: normal;
          margin-top: rem(45px);
          h3 {
            font-family: $font-family-ral;
            @include rfs(30);
            color: inherit;
            font-style: inherit;
            font-weight: 500;
            line-height: 1em;
            margin-bottom: 1em;
          }
          p {
            color: inherit;
            font-family: $font-family-base;
            font-style: inherit;
            font-size: rem(16px);
            font-weight: 300;
            line-height: 1.75em;
          }
        }
      }
    }
  }
}

/* Excellent for Mobile Devices. */
.devices {
  overflow: hidden;
  &-image {
    @include background($size: contain, $position: center bottom);
    height: 100%;
  }
  &-description {
    padding-top: 195px;
    padding-bottom: 180px;
    h2 {
      color: #555555;
      font-family: $font-family-ral;
      @include rfs(30);
      font-weight: 700;
      font-style: normal;
      line-height: 1em;
      margin-bottom: 1.3em;
    }
    p, li {
      color: #8c8c8c;
      font-family: $font-family-base;
      font-size: rem(16px);
      font-style: normal;
      font-weight: 300;
    }
    p {
      line-height: 1.75em;
      margin-bottom: 2.8em;
    }
    ul {
      padding-left: 100px;
      li {
        position: relative;
        line-height: 1.5em;
        margin-bottom: 1em;
        pointer-events: none;
        &::before {
          @include pseudo;
          pointer-events: all;
          cursor: pointer;
          background-image: url('../img/devices-arrow.svg');
          @include background($size: 50%);
          background-color: #c7b299;
          border-radius: 50%;
          top: 0;
          left: -2em;
          width: 1.5em;
          height: 1.5em;
          transition: transform .4s linear;

        }
        &.active {
          &::before {
            transform: rotate(90deg);
          }
        }
        ul {
          display: none;
          padding-left: 0;
          li {
            position: relative;
            line-height: 1.5em;
            margin-bottom: 0;
            &::before {
              display: none;
            }
            &::after {
              @include pseudo;
              background-color: #fff;
              background-image: url('../img/devices-insert-arrow.svg');
              left: -1.5em;
              width: 1.5em;
              height: 1.5em;
              @include background($size: 50%);
            }
          }
        }
      }
    }
  }
}
/*END Excellent for Mobile Devices. */

/* Counter */
.counter {
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding-top: 70px;
  padding-bottom: 60px;
  figure {
    .counter__icon {
      padding-bottom: rem(30px);
      img {
        max-width: 100%;
      }
    }
  }
  figcaption {
    font-family: $font-size-base;
    p {
      color: #ffffff;
      @include rfs(48);
      font-weight: 400;
      line-height: 1em;
      margin-bottom: 0.4em;
    }
    h4 {
      position: relative;
      color: #c7b299;
      font-size: 14px;
      font-weight: 300;
      line-height: 1em;
      text-transform: uppercase;
      padding-bottom: rem(30px);
      &::after {
        @include pseudo;
        background-color: #fff;
        top: 100%;
        left: 50%;
        height: 2px;
        width: rem(30px);
        margin-left: rem(-15px);
      }
    }
  }
}
/*END Counter */

/* Recent Posts. */
.posts {
  padding-top: 80px;
  padding-bottom: 80px;
  &__heading {
    margin-bottom: rem(35px);
    text-align: center;
    @include mx-auto;
    max-width: 757px;
    h2 {
      color: #555555;
      font-family: $font-family-ral;
      @include rfs(30);
      font-weight: 700;
      font-style: normal;
      line-height: 1em;
      margin-bottom: 1em;
    }
    p {
      color: #8c8c8c;
      font-family: $font-size-base;
      font-size: rem(16px);
      font-weight: 300;
      font-style: normal;
      line-height: 1.75em;
    }
  }
  &-slider {
    figure {
      &:hover {
        cursor: grab;
      }
      &:active {
        cursor: grabbing;
      }
    }
    &-photo {
      position: relative;
      overflow: hidden;
      @include responsive-ratio(1, 0.58, true);
      img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: transform 1s linear;
      }
      &::after {
        @include pseudo;
        z-index: 0;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: background-color 1s linear;
        background-color: transparent;

      }
      &__date {
        position: absolute;
        z-index: 1;
        top: rem(20px);
        left: rem(20px);
        text-align: center;
        overflow: hidden;
        border-radius: 3px;

        p {
          color: #ffffff;
          font-family: $font-family-base;
          line-height: 1em;
          padding: 7px 10px;
          transition: background-color 1s linear;
          &:first-child {
            @include rfs(24);
            font-weight: 300;
            background-color: #363636;
          }
          &:nth-child(2) {
            font-size: 12px;
            font-weight: 400;
            background-color: #252525;
          }
        }
      }
    }
    figcaption {
      padding: rem(30px);
      transition: background-color 1s linear;
      h4 {
        color: #555555;
        font-family: $font-family-ral;
        @include rfs(20);
        font-weight: 500;
        font-style: normal;
        line-height: 1em;
        margin-bottom: 1em;
        transition: color 1s linear;
      }
      p {
        color: #8c8c8c;
        font-family: $font-family-base;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        line-height: 1.5em;
        margin-bottom: rem(25px);
        transition: color 1s linear;
      }
      a {
        display: inline-flex;
        align-items: center;
        color: #c7b299;
        font-family: $font-family-base;
        font-size: 14px;
        font-weight: 300;
        line-height: 1em;
        transition: border-color .2s;
        border-bottom: 1px dotted transparent;
        &::after {
          content: "►";
          margin-left: 5px;
          font-size: 8px;
          line-height: 1em;
          transition: transform .2s linear;
        }
        @include mediaToDown($lg) {
          &:active {
            border-color: #c7b299;
            &::after {
              transform: translateX(2px);
            }
          }
        }
        @include mediaToUp($lg) {
          &:hover {
            border-color: #c7b299;
            &::after {
              transform: translateX(2px);
            }
          }
        }
      }
    }
    //////////////////
    .owl-item.center {
      .posts-slider-photo {
        img {
          transform: scale(1.3);
        }
        &::after {
          background-color: rgba(17, 17, 17, 0.7);
        }
        &__date {
          p {
            &:first-child {
              background-color: #c7b299;
            }
            &:nth-child(2) {
              background-color: #a48d72;
            }
          }
        }
      }
      figcaption {
        background-color: #362f2d;
        h4 {
          color: #c7b299;
        }
        p {
          color: #fff;
        }
      }
    }
    .owl-nav {
      margin-top: rem(40px);
    }
    .owl-next,
    .owl-prev {
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      @include mediaToDown($lg) {
        &:active {
          svg {
            fill: #e3d8cc;
          }
        }
      }
      @include mediaToUp($lg) {
        &:hover {
          svg {
            fill: #e3d8cc;
          }
        }
      }
      svg {
        max-width: 100%;
        fill: #d1d1d1;
        transition: fill .3s linear;
      }
    }
  }
}
/*END Recent Posts. */

/* Partners logo */
.partners {
  position: relative;
  z-index: 0;
  padding-top: 140px;
  padding-bottom: 140px;
  @include background;
  &::after {
    @include pseudo;
    z-index: 1;
    background-color: rgba(17, 17, 17, 0.7);
  }
  &-slider {
    position: relative;
    z-index: 2;
    figure {
      &:hover {
        cursor: grab;
      }
      &:active {
        cursor: grabbing;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
/*END Partners logo */

/* Footer */
.footer {
  @mixin footerColor {
    color: #555555;
    font-family: $font-size-base;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.7em;
  }
  &-top {
    background-color: #191919;
    padding-bottom: 80px;
    padding-top: 80px;
    .logo {
      figure {
        margin-bottom: rem(30px);
        img {
          max-width: 100%;
        }
      }
    }
    p {
      @include footerColor;
      margin-bottom: rem(35px);
    }
    a {
      display: inline-flex;
      align-items: center;
      color: #d1d1d1;
      transition: border-color .2s linear;
      border-bottom: 1px dotted transparent;
      &:hover {
        border-color: rgba(#d1d1d1, .4);
        span {
          transform: translateX(2px);
        }
      }
      span {
        font-size: 10px;
        margin-left: 5px;
        transition: transform .2s linear;
      }
    }
    h5 {
      color: #ffffff;
      font-family: $font-family-ral;
      @include rfs(24);
      font-weight: 700;
      font-style: normal;
      line-height: 1em;
      margin-top: 1em;
    }
    ul {
      padding-bottom: rem(20px);
      padding-top: rem(20px);
      border-bottom: 1px solid #252525;
      cursor: pointer;
      &:hover {
        li {
          &:first-child {
            color: #fff;
          }
          color: #c7b299;
          a {
            text-decoration: underline;
          }
        }
      }
      li {
        @include footerColor;
        transition: color .2s linear;
        &:first-child {
          color: #363636;
          font-family: $font-size-base;
          font-size: 12px;
          font-weight: 300;
          line-height: 1.6em;
        }
        a {
          color: #00bff3;
          &:hover {
            border-color: transparent;
          }
        }
      }
    }
    .widgets {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-top: rem(25px);
      &-item {
        position: relative;
        @include responsive-ratio(1, 0.77, true);
        width: 50%;
        flex: 0 0 auto;
        img {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  &-bottom {
    background-color: #111111;
    padding-top: 45px;
    padding-bottom: 50px;
    .df--wrap {
      display: flex;
      justify-content: space-between;
    }
    &-item {
      ul {
        display: inline-flex;
        li {
          color: #555555;
          font-family: $font-size-base;
          font-size: 13px;
          font-weight: 300;
          line-height: 1em;
          padding-right: 1em;
          &:not(:first-child) {
            padding-left: 1em;
            border-left: 2px solid #555555;
          }
          a {
            color: #c7b299;
          }
          span {
            color: #959595;
          }
        }
      }
    }
  }
}
/*END Footer */

/* Scroll Button */
.scroll-button {
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #392921;
  cursor: pointer;
  background-color: #fff;
  transition: opacity .4s linear;
  opacity: 0;
  &.active {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  svg {
    max-width: 90%;
    flex: 0 0 auto;
    fill: #392921;
  }
}
/*END Scroll Button */