</div>
<!-- content end -->
<footer id="footer" class="footer squeeze-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <figure><img src="img/header/logo.svg" alt="Logo"></figure>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
                    </p>
                    <a href="#">Read More <span>►</span></a>
                </div>
                <div class="col-lg-3">
                    <h5>
                        Recent Posts
                    </h5>
                    <ul>
                        <li>
                            September 08, 2015
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </li>
                    </ul>
                    <ul>
                        <li>
                            September 08, 2015
                        </li>
                        <li>
                            Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                        </li>
                    </ul>
                    <ul>
                        <li>
                            September 08, 2015
                        </li>
                        <li>
                            Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5>
                        Our Twitter
                    </h5>
                    <ul>
                        <li>
                            September 08, 2015
                        </li>
                        <li>
                            <a href="#">@waxom</a> Cum soluta nobis eleifend option congue nihil imperdiet doming
                        </li>
                    </ul>
                    <ul>
                        <li>
                            September 08, 2015
                        </li>
                        <li>
                            Mirum est <a href="#">#envato</a> notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
                        </li>
                    </ul>
                    <ul>
                        <li>
                            September 08, 2015
                        </li>
                        <li>
                            Soluta nobis option bit.ly/1Hniso7
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5>
                        Dribbble Widget
                    </h5>
                    <div class="widgets">
                        <div class="widgets-item">
                            <img src="img/footer/1.jpg" alt="Image">
                        </div>
                        <div class="widgets-item">
                            <img src="img/footer/2.jpg" alt="Image">
                        </div>
                        <div class="widgets-item">
                            <img src="img/footer/3.jpg" alt="Image">
                        </div>
                        <div class="widgets-item">
                            <img src="img/footer/4.jpg" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="df--wrap">
                <div class="footer-bottom-item">
                    <ul>
                        <li>Copyright © 2015 <span>Waxom</span></li>
                        <li>Privacy Policy</li>
                        <li><a href="#">FAQ</a></li>
                        <li>Support</li>
                    </ul>
                </div>
                <div class="footer-bottom-item">
                    <ul>
                        <li>Designed by <span> ThemeFire</span></li>
                        <li>Only on <span> Envato Market</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

</div>
<!-- wrapper end -->