<div class="squeeze-wrapper">
    <div class="squeeze-content">
        <header class="header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-sm-12 col-lg-3 d-sm-flex justify-content-sm-between d-md-block">
                        <figure class="logo">
                            <img src="img/header/logo.svg" alt="Logo">
                        </figure>
                    </div>
                    <div class="col-6 col-sm-12 col-lg-9">
                        <div class="navigation">
                            <nav>
                                <ul>
                                    <li><a class="selected" href="#top">Home</a></li>
                                    <li><a href="#services">About Us</a></li>
                                    <li><a href="#portfolio">Portfolio</a></li>
                                    <li><a href="#video">Features</a></li>
                                    <li><a href="#devices">Blog</a></li>
                                    <li><a href="#counts">Pricing</a></li>
                                    <li><a href="#posts">Shortcodes</a></li>
                                    <li><a href="#footer">Contact</a></li>
                                </ul>
                            </nav>
                            <div class="search">
                                <div class="search-cart">
                                    <img src="img/header/calendar.svg" alt="Cart">
                                </div>
                                <div class="search-icon">
                                    <img src="img/header/search.svg" alt="Search">
                                </div>
                            </div>
                            <div class="mob-nav">
                                <img src="img/menu.svg" alt="Bar">
                                <img src="img/menu-close.svg" alt="Close">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>